 header, p {
    background-color: rgb(183,81,81); 
    color: rgb(245, 225, 225);
}

h1, h2, header, caption{
    color: rgb(245, 225, 225);
    text-align: center;
    font-family: santino, sans-serif;
}

h1 {
   font-size: 8vw;
}
.container-fluid{
	background-color: rgb(183,81,81);
    font-family: santino, sans-serif;
    color: rgb(245,225, 225); 
     
}

#Logo{
	text-align: center;
	font-size: 11vw;
	color: rgb(245,225,225);
    font-family: Blenny, sans-serif; 
}
#poll{
    text-align: center;
    font-size: 9vw; 
  
}
#prompt{
    text-align: center;
    font-size: 6vw;
}
#id{
    align-content: flex-end;
}

#question{
    font-size: 4vw;
    text-align: left;
    color:rgb(183,81,81);
}

.button{
    color:rgb(183,81,81);
    background-color: rgb(245, 225, 225);
    font-family: arial, sans-serif;
}
li{
    padding-bottom: 5px;
}
#votes{
    font-size: 3vw;
}
ol{
    font-size: 3vw;
}


/*
https://developers.google.com/chart/interactive/docs/gallery/barchart
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = google.visualization.arrayToDataTable([
        ['Question', 'Number of Votes',],
        ['Q1', 8175000],
        ['Q2', 3792000],
        ['Q3', 2695000],
        ['Q4', 2099000],
        ['Q5', 1526000]
      ]);

      var options = {
        title: 'Poll Results',
        chartArea: {width: '50%'},
        hAxis: {
          title: 'Total Population',
          minValue: 0
        },
        vAxis: {
          title: 'City'
        }
      };

      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }




*/