.container-fluid{
	background-color: rgb(183,81,81);
}

#Logo{
	text-align: center;
	font-size: 5vw;
	color: rgb(245,225,225);
}

#backbutton{
	font-size: 2vw;
}

.navbar{
	text-align: center;
}

.btn {
    color:rgb(183,81,81);
    background-color: rgb(245, 225, 225);
    font-family: arial, sans-serif;
}

body .main, body h1 {
	text-align: center;
}

body header {
	font-size: 28px;
}

.input_line {
    width: 20%;
	height: 38px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}