{% extends "base_generic.html" %}

{% block content %}
	
	<h1>Posts</h1>
	{% if post_list %}
    <ul>

      {% for post in post_list %}
      <li>
        <p>{{ post.text }}</p> ({{ post.topic.text }})
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no posts yet.</p>
    {% endif %} 
	<div class = "post">
		<h2><font color=rgb(255, 10, 200)>{{id}} {{post_date}}</font></h2>
		<p>{{text}}</p>
	</div>
	<div class = "post">
		<h2><font color=rgb(25, 100, 20)>{{id}} {{post_date}}</font></h2>
		<p>{{text}}</p>
	</div>
	<div class = "post">
		<h2><font color=rgb(0, 10, 200)>{{id}} {{post_date}}</font></h2>
		<p>{{post_date}}</p>
	</div>
{% endblock %}