<!--maybe take the this header and apply it to basic_general? might make sense if we have consistent information across several pages-->
<!--TODO: Make base_generic.html-->
{% extends "base_generic.html" %}
<head>
	<meta charset = "utf-8">
<title>venti: myPosts</title>
	<link rel="shortcut icon" href="media/logo_splash.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	
	<div class = "row container-fluid"> 
		<header class="row" id = "Logo">
			venti
			<a href="SplashMockUI.html"><img id = "emblem" src="media/logo_splash.png"></a>
		</header>
	</div>
	<div class = "row container-fluid">
		<a id="login" class = "btn" href = "login.html">Log In</a>
	</div>
    
	<!--<div class = "row container-fluid">
		<a id="backbutton" class="btn" href="SplashMockUI.html">&#8592 Back</a>
	</div>-->

{% extends "base_generic.html" %}
    
    
{{% block content %}}
	<h1>Posts</h1>
	<div class = "post">
		<h2><font color=rgb(255, 10, 200)>{{id}} {{post_date}}</font></h2>
		<p>{{text}}</p>
	</div>
	<div class = "post">
		<h2><font color=rgb(25, 100, 20)>{{id}} {{post_date}}</font></h2>
		<p>{{text}}</p>
	</div>
	<div class = "post">
		<h2><font color=rgb(0, 10, 200)>{{id}} {{post_date}}</font></h2>
		<p>{{post_date}}</p>
	</div>
{{% endblock %}}
</body>    