{% extends "basic_generic.html" %}

{% block content %}
		<!--<head>
			<meta charset = "utf-8">
			<title>venti: Login</title>
			<link rel="shortcut icon" href="media/logo_splash.png" />
			<link href="general_style.css" type="text/css" rel="stylesheet">
            <style>
                @import url("https://use.typekit.net/nia4qni.css");
                @import url("https://use.typekit.net/hrc2bbe.css");
            </style>
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
 			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		</head>-->
        
		
        <div class = "row container-fluid"> 
			<header class="row" id = "Logo">
                venti
                <a href="SplashMockUI.html"><img id = "emblem" src="media/logo_splash.png"></a>
			</header>
		</div>
        <!--<div class = "row container-fluid">
			<a id="backbutton" class="btn" href="SplashMockUI.html">&#8592 Back</a>
        </div>-->
		<div class = "main">
			<header id = "login"><strong>Log In</strong></header>
			<p>Username: {{ username }} <textarea name="input_line" maxlength="256" class="input_line" rows=1></textarea><br />
			Password: {{ password }} <textarea name="input_line" maxlength="256" class="input_line" rows=1></textarea><br />
			<button>Log In</button><br />
			<a href="">Recover password</a><br />
			<a href="">Create new account</a></p>
		</div>
{% endblock %}