{% extends "base_generic.html" %}

{% block content %}
		<div class = "main">
			<header id = "login"><strong>Log In</strong></header>
			<p>Username: {{ username }} <textarea name="input_line" maxlength="256" class="input_line" rows=1></textarea><br />
			Password: {{ password }} <textarea name="input_line" maxlength="256" class="input_line" rows=1></textarea><br />
			<button>Log In</button><br />
			<a href="">Recover password</a><br />
			<a href="">Create new account</a></p>
		</div>
{% endblock %}