{% extends "base_generic.html" %}

{% block content %}
            <ul id  = "question">
                <header><strong>Poll</strong></header>
            <!--<h1>{{ topic.text }}</h1>-->
        <div class = "row container-fluid">
            <ul id  = "question">
                <header id = "poll"><strong>Poll</strong></header>
                <a href= "poll-results.html"><header id = "prompt">What's on our mind?</header></a>
                {% if post_list %}
                <ul>
                    {% for post in post_id %}
                    <li>
                        <button>
                            <a href = "{{ post.get_id }}">{{ post.text }}</a>
                            ({{post.topic}})
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                  <p>There are no posts yet.</p>
            </ul>
            {% endif %}
            
{% endblock %}