{% extends "base_generic.html" %}

{% block content %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom box-shadow head">
      <h5 class="my-0 mr-md-auto font-weight-normal">Venti</h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Feed</a>
        <a class="p-2 text-dark" href="#">Poll</a>
        <a class="p-2 text-dark" href="#">Profile</a>
        <a class="p-2 text-dark" href="#">Logout</a>
      </nav>
      <a class="btn btn-outline-primary" href="#">Sign up</a>
    </div>
      
     <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Poll: Vote</h1>
         <p class="lead">Vote for the topic of the day!</p>
     </div>
    <div class="container">
      <div class="card-deck mb-3 text-center">
   
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h5 style="float: left; font-size: 2rem; margin-bottom: 0rem;">topic#1</h5>
            <h4 class="my-0 font-weight-normal id ">ID: 23456</h4>
            <h4 class="my-0 font-weight-normal date">Date: 4/16/2018</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">#Hogwarts #GryffinSlytherPuffClaw</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>What Hogwarts House is best?</li>
            </ul>
            <div class="btn-group">
            <button type="button" class="btn btn-lg btn-success" data-toggle="button" aria-pressed="false">Vote For This Topic!</button>
            <button type="button" class="btn btn-lg btn-warning dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-pressed="false">React!</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="em em-grinning"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-white_frowning_face"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rage"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rolling_on_the_floor_laughing"></i></a>
            </div>
            <button type="button" class="btn btn-lg btn-danger" data-toggle="button" aria-pressed="false">Report</button>
          </div>
          <div class = "card-footer mt-3 box-shadow">
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-grinning"></i><p class="text-muted">486</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-white_frowning_face"></i><p class="text-muted">12</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-rage"></i><p class="text-muted">328</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:0rem;display: inline-block"><i class="em em-rolling_on_the_floor_laughing"></i><p class="text-muted">500</p></h6>
          </div>
        </div>
       </div>
      </div>
        <div class="card-deck mb-3 text-center">
   
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h5 style="float: left; font-size: 2rem; margin-bottom: 0rem;">topic#2</h5>
            <h4 class="my-0 font-weight-normal id ">ID: 5069465</h4>
            <h4 class="my-0 font-weight-normal date">Date: 4/16/2018</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">#Festival #Music</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li> Coachella 2020 or Woodstock 1969?</li>
            </ul>
            <div class="btn-group">
            <button type="button" class="btn btn-lg btn-success" data-toggle="button" aria-pressed="false">Vote For This Topic!</button>
            <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-pressed="false">React!</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="em em-grinning"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-white_frowning_face"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rage"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rolling_on_the_floor_laughing"></i></a>
            </div>
            <button type="button" class="btn btn-lg btn-danger" data-toggle="button" aria-pressed="false">Report</button>
          </div>
          <div class = "card-footer mt-3 box-shadow">
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-grinning"></i><p class="text-muted">45</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-white_frowning_face"></i><p class="text-muted">215</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-rage"></i><p class="text-muted">420</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:0rem;display: inline-block"><i class="em em-rolling_on_the_floor_laughing"></i><p class="text-muted">400</p></h6>
          </div>
        </div>
       </div>
      </div>
        <div class="card-deck mb-3 text-center">
   
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h5 style="float: left; font-size: 2rem; margin-bottom: 0rem;">topic#3</h5>
            <h4 class="my-0 font-weight-normal id ">ID: 988745</h4>
            <h4 class="my-0 font-weight-normal date">Date: 4/16/2018</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">#Freddy #Jason</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Freddy vs Jason: Who would win?</li>
            </ul>
            <div class="btn-group">
            <button type="button" class="btn btn-lg btn-success" data-toggle="button" aria-pressed="false">Vote For This Topic!</button>
            <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-pressed="false">React!</button>
            <div class="dropdown-menu">
                <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-pressed="false">React!</button>
                <a class="dropdown-item" href="#"><i class="em em-grinning"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-white_frowning_face"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rage"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rolling_on_the_floor_laughing"></i></a>
            </div>
            <button type="button" class="btn btn-lg btn-danger" data-toggle="button" aria-pressed="false">Report</button>
          </div>
          <div class = "card-footer mt-3 box-shadow">
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-grinning"></i><p class="text-muted">387</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-white_frowning_face"></i><p class="text-muted">129</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-rage"></i><p class="text-muted">95</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:0rem;display: inline-block"><i class="em em-rolling_on_the_floor_laughing"></i><p class="text-muted">592</p></h6>
          </div>
        </div>
       </div>
      </div>
        <div class="card-deck mb-3 text-center">
   
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h5 style="float: left; font-size: 2rem; margin-bottom: 0rem;">topic#4</h5>
            <h4 class="my-0 font-weight-normal id ">ID: 3453465</h4>
            <h4 class="my-0 font-weight-normal date">Date: 4/16/2018</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">#Beyonce #Rihanna #Nicki</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li> FMK: Rihanna, Nicki, Beyonce</li>
            </ul>
            <div class="btn-group">
            <button type="button" class="btn btn-lg btn-success" data-toggle="button" aria-pressed="false">Vote For This Topic!</button>
            <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-pressed="false">React!</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="em em-grinning"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-white_frowning_face"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rage"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rolling_on_the_floor_laughing"></i></a>
            </div>
            <button type="button" class="btn btn-lg btn-danger" data-toggle="button" aria-pressed="false">Report</button>
          </div>
          <div class = "card-footer mt-3 box-shadow">
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-grinning"></i><p class="text-muted">714</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-white_frowning_face"></i><p class="text-muted">893</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-rage"></i><p class="text-muted">831</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:0rem;display: inline-block"><i class="em em-rolling_on_the_floor_laughing"></i><p class="text-muted">414</p></h6>
          </div>
        </div>
       </div>
      </div>
        <div class="card-deck mb-3 text-center">
   
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h5 style="float: left; font-size: 2rem; margin-bottom: 0rem;">topic#5</h5>
            <h4 class="my-0 font-weight-normal id ">ID: 3456456</h4>
            <h4 class="my-0 font-weight-normal date">Date: 4/16/2018</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-muted">#Heaven #Hell</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Is there life after death?</li>
            </ul>
            <div class="btn-group">
            <button type="button" class="btn btn-lg btn-success" data-toggle="button" aria-pressed="false">Vote For This Topic!</button>
            <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-pressed="false">React!</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><i class="em em-grinning"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-white_frowning_face"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rage"></i></a>
                <a class="dropdown-item" href="#"><i class="em em-rolling_on_the_floor_laughing"></i></a>
            </div>
            <button type="button" class="btn btn-lg btn-danger" data-toggle="button" aria-pressed="false">Report</button>
          </div>
          <div class = "card-footer mt-3 box-shadow">
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-grinning"></i><p class="text-muted">69</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-white_frowning_face"></i><p class="text-muted">666</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:2rem;display: inline-block"><i class="em em-rage"></i><p class="text-muted">666</p></h6>
              <h6 class="card-subtitle  text-dark" style="margin-right:0rem;display: inline-block"><i class="em em-rolling_on_the_floor_laughing"></i><p class="text-muted">666</p></h6>
          </div>
        </div>
       </div>
      </div>
{% endblock %}