{% extends "base_generic.html" %}

{% block content %}
        </div>
        <!--<div class = "row container-fluid">
<a id="backbutton" class="btn" href="SplashMockUI.html">&#8592 Back</a>
</div>-->
		{% if user.is_authenticated %}
        <h1>{{ user.get_username }}</h1>
        <div class = "main">
            <button>My Posts</button><br />
			{% if view_profile() %}
            Upvotes: {{ user_profile.num_upvotes }}<br />
            Number of posts: {{ user_profile.num_posts }}<br />
            Highlighted Posts: {{ user_profile.num_highlighted }}<br />
			{% endif %}
            <br />
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Change password?</a></p>
        </div>
		{% else %}
		  <h1>Not logged in.  <a href="{% url 'login' %}?next={{request.path}}">Login</a></li>   
		{% endif %}
{% endblock %}