{% extends "base_generic.html" %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Feed</h1>
      <p class="lead">Tell us what's on your mind.</p>
      <button type="button" class="btn btn-success add" data-toggle="button" aria-pressed="false"><em>+</em></button>
</div>	

<div class="container">
    {% if post_list %}
    
    
    <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal id ">{{id}}</h4>
                <h4 class="my-0 font-weight-normal date">{{post_date}}</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title"><small class="text-muted">{{post.topic.text}}</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>{{post.text}}</li>
                </ul>
                <button type="button" class="btn btn-lg btn-success" data-toggle="button" aria-pressed="false">Upvote</button>
                <button type="button" class="btn btn-lg btn-danger" data-toggle="button" aria-pressed="false">Report</button>
                <button type="button" class="btn btn-lg btn-warning" data-toggle="button" aria-pressed="false">React!</button>
              </div>
            </div>
    </div>
    {% else %}
    
    <p>there are no posts yet.</p>
    {{% endif %}}
</div>
{% endblock %}